@charset "utf-8";
body{font-family: 400 12px/35px "Microsoft Yahei","tahoma","arial";}
.flexslider { position: relative; height: 600px; overflow: hidden; background: url(../js/jquery001/images/loading.gif) 50% no-repeat;}
.slides { position: relative; z-index: 1;}
.slides li { height: 600px;}
.flex-control-nav { position: absolute; bottom: 10px; z-index: 2; width: 100%; text-align: center;}
.flex-control-nav li { display: inline-block; width: 14px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}
.flex-control-nav a { display: inline-block; width: 14px; height: 14px; line-height: 40px; overflow: hidden; background: url(../js/jquery001/images/dot.png) right 0 no-repeat; cursor: pointer;}
.flex-control-nav .flex-active { background-position: 0 0;}

.tczb_foot{width:100%px;border-top:1px solid #ff0;overflow:hidden;clear:both; position: relative;z-index: 2;margin-top:20px; background: #fcf2c8 url(../images/bodybg.jpg) repeat;}
.foot_inner {margin: 0 auto; position: relative; width: 1020px;}
.foot_helper {float: left;padding: 15px 0;}
.foot_helper dl {float: left;line-height: 24px;width:150px;}
.foot_helper dt {color: #896739;font-size: 14px;font-weight: 800; line-height: 32px;}
.foot_helper dd { color: #896739;font-size: 12px;font-weight: 100;line-height: 24px;}
.foot_helper a {color: #896739;display: block; line-height: 28px;}
.foot_helper a:hover{color: #540501;}
.foot_service {float: left; height: 124px; padding: 0 0 15px 20px;}
.foot_service .foot_tishi { margin-right: 5px;padding:10px 12px;background: url("../images/inex_new_044.png") no-repeat center;}
.foot_service  .foot_serviceline{color:#896739;font-size:12px;}
.foot_service dl { width: 220px;}
.foot_service dt {height: 28px;line-height: 28px;}
.foot_service p {color: #896739;font-family: "Microsoft YaHei";font-size: 12px;line-height: 22px;}
.foot_service p strong {color: #896739;font-family: Arial;font-size: 34px;font-weight: 100;line-height: 1.4em;font-family: "chenpeifeng002","Arial","Microsoft YaHei";}
.copyright {border-top: 1px solid #ff0;color: #896739;font-size: 12px;line-height: 60px;overflow: hidden;text-align: center;background: #fcf2c8 url(../images/bodybg.jpg) repeat;}
.copyright .copyrightcon {margin: 0 auto; width: 960px;font-size: 12px;line-height:60px;text-align: center;}
.tczb_foot002{margin-top:0px;}

.ban{ width:400px; height:500px; position:relative; overflow:hidden;margin:10px;float:left;}
.ban2{ width:400px; height:400px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;margin:0; padding:0; list-style:none;}
.ban2 ul li{ width:400px; height:400px;margin:0; padding:0; list-style:none;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:350px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:400px;}
.num ul{ position:absolute; left:0; top:0;margin:0; padding:0; list-style:none;}
.num ul li{ width:60px; height:60px;margin:0;  margin-right:8px; padding:1px;list-style:none;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:20px; margin-right:10px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:20px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:160px; left:10px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:160px; right:10px; width:28px; height:51px;z-index:9;cursor:pointer;}

.detail{width:1000px;position:relative;padding-top:20px;margin:0 auto;overflow:hidden;background:#fff;}
.sx-detail-right{width:550px; height:500px; position:relative; overflow:hidden;margin:10px;float:right;}
.sx-detail-right .sx-detail-right_title{width:550px; height:40px;line-height:40px position:relative; overflow:hidden;font-size:18px;font-weight:800;color:#ce0700;}
.sx-detail-right .sx-detail-right_infor{background: #fcf2c8 url(../images/index.png) repeat;width:510px;height:96px;line-height:24px;padding:10px;color:#666}
.sx-detail-right .sx-detail-right_infor .linetrough{text-decoration: line-through;}
.sx-detail-right .sx-detail-right_infor .biglinght{font-size:22px;color:#ce0700;font-weight:800;}
.sx-detail-right .sx-detail-right_ul{width:510px;height:150px;line-height:24px;padding:10px;border:1px solid #dadada;margin-top:20px;}
.sx-detail-right .sx-detail-right_ul li{width:170px;height:30px;line-height:24px;padding:0px;color:#666;float:left;}
.sx-detail-right .sx-detail-right_text{margin-top:10px;}
.sx-detail-right .sx-detail-right_text p{font-size:12px;line-height:20px}
.sx-detail-right .sx-detail-right_btn{width:510px;height:60px;margin-top:20px;position:relative;}
.sx-detail-right .sx-detail-right_btn a{width:40%;height:36px;line-height:36px;margin-top:10px;margin-right:20px;background:#c40000;color:#fff;font-size:18px;float:left;text-align:center;}
.detail_con{width:1000px;clear:both;min-height:800px;overflow:hidden;margin-top:20px;padding-bottom:20px}
.detail_con .detail_con_left{width:200px;min-height:800px;overflow:hidden;float:left;margin-left:10px}
.detail_con .detail_con_left .con_box{width:198px;border:1px solid #dadada;}
.detail_con .detail_con_left .con_box .con_box_title{background: #fcf2c8 url(../images/index.png) repeat;width:198px;border-bottom:1px solid #dadada;font-size:16px;height:40px;line-height:40px;color:#333;text-align:left;text-indent:10px;}
.detail_con .detail_con_left .con_box .con_box_img{padding:10px;cursor:pointer;}
.detail_con .detail_con_left .con_box .con_box_text{padding:0px 10px 10px 10px;height:40px;line-height:20px;font-size:12px;width:178px;overflow:hidden;cursor:pointer;}
.detail_con .detail_con_left .con_box02{margin-top:20px;}
.detail_con .detail_con_left .con_box02 .con_box_title{background: #c40000;color:#fff;border-bottom:1px solid #c40000;}
.detail_con .detail_con_left .con_box02 .con_box_img{padding:0px;cursor:pointer;}
.detail_con .detail_con_left .con_box02 .con_box_text{padding-bottom:10px;padding-top:10px;font-size:14px;background:#efefef;margin-bottom:2px;}
.detail_con .detail_con_right{width:760px;min-height:800px;overflow:hidden;float:right;border:1px solid #dadada;margin-right:10px}

.news{width:100%;position:relative;overflow:hidden;background:url(../images/bg.png) no-repeat bottom center; background-size: 100%;}
.news .news_con{width:1000px;position:relative;margin:0 auto;overflow:hidden;background:rgba(255,255,255,0.4);min-height:800px;box-shadow: 0 4px 8px rgba(255, 255, 0, 0.8);}

.news .news_con .about_left {width: 180px;background:rgba(255,255,255,0.5);position: absolute;top: 0;height:100%;padding-top:30px;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff);}
.news .news_con .about_div,.news_div{margin-left:20px;}
.news .news_con .about_left h2 {background: #efc31e none repeat scroll 0 0;border-radius: 19px;color: #fff;font-size: 18px;font-weight: normal;height: 38px;line-height: 38px;text-align: center;width: 128px;}
.news .news_con .about_left ul {margin: 10px 0;}
.news .news_con .about_left ul li {font-size: 15px;height: 36px;line-height: 36px;text-indent: 18px;}
.news .news_con .about_left ul li span {background: #576a83 none repeat scroll 0 0;border-radius: 50%;display: inline-block;height: 10px;margin-right: 15px;position: relative;width: 10px;}
.news .news_con .about_left ul li span i {background: #576a83 none repeat scroll 0 0;display: block;height: 26px;left: 4px;position: absolute;top: -26px;width: 2px;}
.news .news_con .about_left ul li:first-child span i {display: none;}
.news .news_con .about_right {background:rgba(255,255,255,0.3);;width: 815px;min-height:800px;float:right;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff);}
.news .news_con .about_right .about_right_view{padding:20px;font-size:14px;}
.news .news_con .about_right .about_right_view .about_right_view_title {border-bottom: 1px dashed #ccc;color: #475058;margin: 0 auto;padding: 20px 50px;text-align: center;}
.news .news_con .about_right .about_right_view .about_right_view_title h1 {color: #494949;font-size: 22px;font-weight: normal;margin-bottom: 5px;}
.news .news_con .about_right .about_right_view .about_right_view_title h2 {color: #808080;font-size: 14px;font-weight: normal;margin: 0;}
.news .news_con .about_right .about_right_view .about_right_view_con {color: #747575;font-size: 13px;overflow: hidden;overflow-wrap: break-word;padding: 30px 0px;}


